*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #3799CE; 
    
}

h1{
    color: #FFFFFF;
    font-family:'Times New Roman', Times, serif;
    font-size: 5em;   
    padding-top: 20%; 
}

h2{
    color: #c9c9c9;
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    font-style: oblique;   
}